
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
ul li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: hidden;
    color: #e72929;

}
ul li a img
{
width:20rem;
height: 200px;
}
li a:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.content
{
    padding: 0.5rem 0.5rem;
    position: relative;
}
.favorite
{
    position: absolute;
    top:.5rem;
    right: .5rem;
    font-size: 1.2rem;
}
.favorite.not
{
    color: black;
}
.footer-item
{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 5;
}
.origin
{
    flex:5;
}
.origin span{
    border-radius: 2rem;
    background-color: aliceblue;
    color: rgb(124, 225, 0);
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

